@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


body {
   
    background-color: #EAB03D !important;
}


.hero-section{
	background-color: #F8F8F3 !important;
	max-width: 90% !important;
}
.bg-body{
	background-color: #F8F8F3 !important;
}

/* Navigation Bar */

.navbar{
	height: 80px;
	padding: 0 15px;
	font-size: 18px;
	text-transform: uppercase;
}

.animated
{
  font-family: serif;
} 

.hero-button{
  padding: 10px !important;
  border-radius: 50px !important;
  width: 100px;
}


.logo{
	font-size: 40px !important;
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
	text-transform: lowercase !important;

}
.nav-item{
	word-spacing: 15px;
}

.navbar-light .navbar-nav .nav-link{
	padding: 30px !important;
}

/*Nav bar bracket effect*/

.nav-link:before {
  content: "(";
  margin-right: 10px;
  display: inline-block;
  opacity: 0;
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

.nav-link:after {
  content: ")";
  margin-left: 10px;
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}

.nav-link:hover:before,
.nav-link:hover:after {
  opacity: 1;
  color: #37615F;
  font-weight: bold;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}


/*bracket efft close*/